@charset "UTF-8";
@font-face {
    font-family: 'bebas';
    src: url('../../fonte/BebasNeue-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
}

body {
    background-color: #89c3ca;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top,#0B5465, #1A8F9E);
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'bebas', cursive;
    font-size: 4em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.411);
}

header p {
    font-size: 1.2em;
    margin: 0px 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.432);
}

nav {
    background-color: #0B5465;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    transition-duration: .5s;
}

nav a:hover {
    background-color: #67999e;
    text-decoration: underline;
    color: #89c3ca;
    border-radius: 5px;
}

main {
    background-color: white;
    margin: auto;
    min-width: 350px;
    max-width: 800px;
    padding: 0px 20px;
    text-align: justify;
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
}

main h1 {
    font-size: 2em;
    color: #083d49;
    font-family: 'bebas', cursive;
    margin: 0px 10px;
    padding-bottom: 10px;
}

main h2 {
    font-size: 1.5em;
    font-family: 'bebas', cursive;
    color: #0a4957;
    margin: 0px 10px;
    padding: 10px 0px;
}

main p {
    text-indent: 10px;
    line-height: 25px;
    margin: 0px 10px;
}
main > img {
    padding: 0px 20px;
}

img {
    width: 100%; 
}

.pequeno {
    display: block;
    margin: auto;
    max-width: 350px;
    max-height: 350px;
    padding: 10px 0px;
}

source.pequeno {
    display: block;
    margin: auto;
    max-width: 350px;
    max-height: 350px;
    padding: 10px 0px;
}

aside {
    background-color: #083d49;
    margin: auto;
    min-width: 350px;
    max-width: 800px;
    
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

aside > h2 {
    color: white;
}

footer {
    background-color: #083d49;
    color: white;
    text-align: center;
    padding: 5px;
}
footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #89c3ca;
}